[Unit]
Description=RFAM
After=network.target

[Service]
User=www-data
WorkingDirectory=/var/www/rfam
ExecStart=/var/www/rfam/run.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

