<div class="ext_asset" id="%(ident)s">
<div class="asset_description">%(text:ext_asset:description)s<input type="text" value="%(description)s"><div class="state_ok"></div></div>
<div class="asset_license">%(text:ext_asset:license)s<input type="text" value="%(license)s"><div class="state_ok"></div></div>
<div class="asset_origin">%(text:ext_asset:origin)s<input type="text" value="%(origin)s"><div class="state_ok"></div></div>
<div><button>%(text:project:remove)s</button><div class="state_none"></div></div>
</div>