<div id="page_tab" data-tab="#goto_assets" style="display:none"></div>

<div class="box">

<div id="name">
<div>%(text:new:name)s</div>
<input type="text">
</div>

<div id="type">
<div>%(text:new:type)s</div>
<select><option value=""></option>%(choice_type)s</select>
</div>

<div id="filename">
<div>%(text:new:filename)s</div>
<input type="text">
</div>

</div>


<div class="box_right">

<div id="description">
<div>%(text:new:description)s</div>
<textarea></textarea>
</div>

</div>


<div class="box">

<button id="create">%(text:new:create)s</button>
<a href="/assets"><button id="cancel">%(text:new:cancel)s</button></a>

</div>