<div id="page_tab" data-tab="#goto_project" style="display:none"></div>


<div class="box">

<div id="title">
<div>%(text:project:title)s</div>
<input type="text" value="%(project_title)s">
<div class="state_ok"></div>
</div>

<div id="description">
<div>%(text:project:description)s</div>
<textarea>%(project_description)s</textarea>
<div class="state_ok"></div>
</div>

</div>


<div class="box">

<div id="width">
<div>%(text:project:width)s</div>
<input type="number" value="%(project_width)s">
<div class="state_ok"></div>
</div>

<div id="height">
<div>%(text:project:height)s</div>
<input type="number" value="%(project_height)s">
<div class="state_ok"></div>
</div>

<div id="fps">
<div>%(text:project:fps)s</div>
<input type="number" value="%(project_fps)s">
<div class="state_ok"></div>
</div>

<div class="clear" id="license">
<div>%(text:project:license)s</div>
<textarea>%(project_license)s</textarea>
<div class="state_ok"></div>
</div>

</div>


<div class="clear"></div>


<div class="box">

<table id="roles">
 <tr><td></td><td>%(text:project:role)s</td><td>%(text:project:person)s</td><td></td></tr>
 
 <tr><td colspan="4"><hr/></td></tr>

 %(roles)s

 <tr><td colspan="4"><hr/></td></tr>
 
 <tr id="add_role"><td></td><td><input type="text" value=""><div class="state_none"></div></td><td><select>%(choice_people)s</select><div class="state_none"></div></td><td><button>%(text:project:add)s</button></td></tr>
</table>

</div>

<div class="box">

<div>%(text:ext_asset:name)s</div>

%(ext_assets)s

<div id="add_ext_asset">
<div class="asset_description">%(text:ext_asset:description)s<input type="text" value=""><div class="state_none"></div></div>
<div class="asset_license">%(text:ext_asset:license)s<input type="text" value=""><div class="state_none"></div></div>
<div class="asset_origin">%(text:ext_asset:origin)s<input type="text" value=""><div class="state_none"></div></div>
<div><button>%(text:project:add)s</button><div class="state_none"></div></div>
</div>

</div>


<div class="clear"></div>
